body {
    padding: 0;
    margin: 0;
}

.container {
    width: 60%;
    margin: 10px auto;
    padding: 0;
}

.banner {
    position: relative;
    margin: 0;
    background-color: #FF0000;
    height: 100px;
}

.banner h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 25px 0 0 20px;
}

.banner .login {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
}

.banner .login .input_field label {
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}

.banner .login .input_field input {
    float: right;
}
.banner .login .input_field.button input {
    float: right;
}

.nav-bar {
    float: left;
    width: 25%;
    padding-left: 0;
    margin-left: 0;
}

.nav-bar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-bar ul li {
    margin-top: 20px;
}

.nav-bar a:link, .nav-bar a:visited, .nav-bar a:active {
    color: #FF0000;
    border: 1px solid #FF0000;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.nav-bar a:hover {
    color: #FFFFFF;
    border: 1px solid #FF0000;
    text-decoration: none;
    font-weight: bold;
    background-color: #FF0000;
}

.content {
    padding-left: 10px;
    padding-top: 10px;
}

p.spacer {
    margin-top: 0;
    margin-bottom: 0;
}   
.errortext {
    color: #FF0000;
    font-weight: bold;
}   

.successtext {
    color: #00FF00;
    font-weight: bold;
}   
