{% extends 'main.html' %}

{% block title %}
    Tutor Lookup
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Available Tutors</legend>
        <form method='POST' action='/lookup/'>{% csrf_token %}
            {% for tutor in tutor_list %}
                <p><li>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</li></p>
                <p><label>{{ tutor.user.email }}</label></p>
                <p><input type="radio" name="choice" id="{{ tutor.user.first_name }}^?^{{ tutor.user.last_name }}">Request this tutor</label></p>
            {% empty %}
                <p><li>There are no available tutors</li></p>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
        {% if tutor %}
            <fieldset>
            <legend>All Tutees</legend>
                {% for tutee in tutee_list %}
                    <p><li>{{ tutee.user.first_name }} {{ tutee.user.last_name }}</li></p>
                    <p><label>{{ tutee.user.email }}</label></p>
                {% empty %}
                    <p><li>There are no tutees</li></p>
                {% endfor %}
            </fieldset>
        {% endif %}
    </fieldset>
{% endblock %}
