{% extends "main.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Your Pending Requests</legend>
        <form method="POST" action="/accounts/profile/">{% csrf_token %}
            {% for req in pending_requests %}
                <p><li> Class: {{ req.for_class }}</li></p>
                <p><label> Description: </label><label>{{ req.description }}</label></p>
                <p><label> Availability: </label><label>{{ req.days }} {{ req.time }}</label></p>
            {% empty %}
                <li>You have no pending requests</li>
            {% endfor %}
        </form>
    </fieldset>
    <fieldset>
        <legend>Your Tutors</legend>
            {% for tutor in my_tutors %}
                <p><li>{{ tutor.0.user.first_name }} {{ tutor.0.user.last_name }}</li></p>
                <p><label>{{ tutor.0.user.email }}</label></p>
                <p><label>For: {{ tutor.1.for_class }}</label></p> 
            {% empty %}
                <li>You have no tutors</li>
            {% endfor %}
    </fieldset>
    {% if tutor %}
        <fieldset>
            <legend>Your Tutees</legend>
                {% for tutee in my_tutees %}
                    <p><li>{{ tutee.0.user.first_name }} {{tutee.0.user.last_name }}</li></p>
                    <p><label>{{ tutee.0.user.email }}</label></p>
                    <p><label>{{ tutee.1.for_class }}
                {% empty %}
                    <p><li>You have no tutees</li></p>
                {% endfor %}
        </fieldset>
    {% endif %}
{% endblock %} 
