{% extends "main.html" %}

{% block title %}
Request Help
{% endblock %}
{% block content %}
    <fieldset>
        <legend> Request Help </legend>
        <form method="POST" action="/request_help/">{% csrf_token %}
        {% if specific_request %}
            <label>Requesting Tutor: {{ firstname }} {{ lastname }}</label>
            <input type="text" name="requested" value="{{ username }}" style="display: none;" />
            <input type="text" name="specific_request" value="True" style="display: none;" />
        {% endif %}
        <p>
            <span class="errortext">{{ request_exists_error }}</span>
            <span class="errortext">{{ too_many_error }}</span>
        </p>
        <p>
            <label> For Class: </label> <input name="for_class" type="text" />
            <span class="errortext">{{ class_error }}</span>
        </p>
        <p>
            <label> Description: </label> <textarea rows="5" cols="50" name="description" type="text"></textarea>
        </p>
        <p>
            <span class="errortext">{{ description_error }}</span>
        <p>
        <p>
            <label> Day: </label> 
              <select name="day">
                {% for day in days%}
                <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
              </select>
            <label> Time: </label> 
              <select name="time">
                {% for time in times %}
                {% if time == 12 %}
                <option value="{{ time }}:00" selected="selected">{{ time }}:00</option>
                {% else %}
                <option value="{{ time }}:00">{{ time }}:00</option>
                {% endif %}
                {% endfor %}
              </select>
        </p>
        <p>
            <span class="errortext">{{ day_error }}</span>
        </p>
        <p>
            <span class="errortext">{{ time_error }}</span>
        </p>
        <p>
            <input type="submit" id="submit" value="Submit Request" />
        </p>
        </form>
    </fieldset>
{% endblock %}
